@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  /* typo */
  .flex-center {
    @apply flex items-center;
  }

  .container {
    @apply px-[16px] max-w-[1142px] mx-auto;
  }

  .inputdesign {
    @apply border font-normal color4 placeholder: text-gray-500 focus:outline-none focus:border-[#ef0d5e] focus:ring-[#ef0d5e] focus:ring-1;
  }

  .inputLabel {
    @apply font-normal mb-1 block;
  }

  .m-all {
    @apply mb-14 mt-24 sm: mt-28;
  }

  .py-all {
    @apply py-8 sm: py-20;
  }

  .SectionTwoSixBox {
    @apply flex gap-2 sm: gap-6 text-center flex-nowrap sm:flex-wrap snap-x py-5 sm:py-0 touch-auto hide;
  }

  .disable-btn {
    @apply opacity-40 cursor-not-allowed;
  }

  /* header navbar */
  .menuitem {
    @apply mt-1 hover: opacity-80 text-white px-5 py-2 font-16 flex gap-3 items-center font-normal hover:bg-black hover:border-r-2 hover:border-white;
  }

  /* multistep form */

  .multistepeer {
    @apply mt-4 px-[30px] sm: px-[40px] md:px-[70px] py-[20px] sm:py-[30px] md:py-[50px] bg-[#fcfcfc] border border-[#cbcbcb] rounded-[8px] shadow-[0_4px_20px_rgba(157, 150, 150, 0.15)];
  }

  .multiStepHeader {
    @apply font-18 sm: font-30 color4 font-light mt-4;
  }

  .mrh {
    @apply color1 font-18 md: font-22 font-normal mt-5;
  }

  .mri {
    @apply color3 font-16 md: font-20 font-medium;
  }

  .stepbarItem {
    @apply absolute top-0 left-0 font-16 h-[30px] w-[30px] text-center flex justify-center items-center border border-slate-900 rounded-full bg-red-500;
  }

  /* hover button */
  .btn-hover {
    @apply transition-color hover: opacity-75;
  }

  /* social button */

  .socialBtn {
    @apply flex items-center gap-2 border border-[#888] px-[18px] py-[6px] rounded-[8px] hover: border-[#6a6060] w-full justify-center font-normal;
  }

  /* user sign up & sing in box */
  .sign-box {
    @apply max-w-[650px] mx-auto shadow-[0px_4px_25px_12px_#4A212E0D] rounded-[8px] px-[20px] sm: px-[30px] md:px-[90px] py-[40px] sm:py-[60px];
  }

  .sign-box-title {
    @apply color4 mb-[20px] sm: mb-[50px] text-center font-20 sm:font-32 font-normal;
  }

  /* landing */
  .heroSection {
    @apply h-[440px] sm: h-[560px] lgx:h-[640px] xl:h-[720px] relative;
  }

  .heroSection .div1 {
    @apply max-w-[1440px] mx-auto h-full relative;
  }

  .heroSection-container {
    @apply container h-full flex flex-col justify-center lg: pl-10 relative;
  }

  .heroSection .div3 {
    @apply relative z-10 pl-3 sm: pl-9 md:pl-20 mdx:pl-0 mt-[4rem] sm:mt-0;
  }

  .heroSection .div3 p {
    @apply font-14 sm: font-18 text-[#ef0d5e] font-normal;
  }

  .heroSection .div3 h1 {
    @apply font-32 sm: font-48 lgx:font-56 1xl:font-60 font-medium color4;
  }

  .heroSection .div3 h1 .span1 {
    @apply text-white block sm: inline-block relative z-[1];
  }

  .heroSection .div3 h1 .span2 {
    @apply absolute -z-[1] 1xl: -left-4 1xl:top-[5px] 1xl:w-[227px] 1xl:h-[80px] lgx:-left-[12px] lgx:top-[3px] lgx:w-[205px] lgx:h-[78px] sm:-left-[8px] sm:top-[3px] sm:w-[180px] sm:h-[65px] -left-[13px] top-[5px] w-[135px] h-[40px];
  }

  .hero-dropdown {
    @apply max-w-[216px] mt-2 sm: mt-4 sm:max-w-[276px] lgx:max-w-[360px] text-center relative;
  }

  .hero-dropdown button {
    @apply flex gap-5 justify-center items-center font-14 sm: font-18 font-normal border-[#3b3b3b] border py-[10px] px-[20px] sm:px-[35px] lgx:px-[60px] rounded-[6px] sm:rounded-[18px] shadow-[0px_3px_6px_0px_rgba(119, 116, 116, 0.25)] bg-[#FFEBF2]/[.5] w-full active:scale-95 transition-transform;
  }

  .hero-dropdown .span-arrow {
    @apply w-4 relative transition-transform2;
  }

  .hero-dropdown .menu {
    @apply flex flex-col items-center bgcolor2 rounded-[6px] sm: rounded-[18px] p-[6px] sm:p-[12px] absolute -top-[60%] sm:-top-[78%] right-1/2 translate-x-1/2 w-full shadow-[0px_1px_6px_#2625259c];
  }

  .hero-dropdown .menu .div1 {
    @apply text-white inline-block w-full max-h-[170px] bar-thin bar-thin-select overflow-x-auto;
  }

  .hero-dropdown ul li {
    @apply px-[8px] sm: px-[16px] py-[2px];
  }

  .hero-dropdown ul li a .span1 {
    @apply flex items-center gap-2 px-[14px] py-[3px] rounded-[8px] hover: bg-white/[.5];
  }

  .hero-banner-image {
    @apply absolute xl: w-[29rem] 1xl:w-[30rem] lgx:w-[34%] w-[35%] z-[1] right-8 bottom-0 hidden mdx:block;
  }

  .hero-banner-image .toolTop {
    @apply absolute font-12 color4 font-medium px-5 z-10 shadow-[0px_1px_3px_rgba(0, 0, 0, 0.25)] rounded-xl;
  }

  .hero-banner-image .toolTop.tool-flex {
    @apply flex items-center justify-center gap-3;
  }

  .blury {
    @apply hidden lg: block pointer-events-none absolute rounded-full w-[120px] h-[120px] blur-[24px] will-change-transform mdx:touch-auto;
  }

  /* sectionTwo */

  .sectionTwo-box {
    @apply flex bg-[#ef0d5e] rounded-[6px] py-[20px] sm: py-[30px] lg:py-[40px] text-[15px] sm:text-[16px] font-normal text-white shadow-[0px_4px_4px_0px_rgba(0, 0, 0, 0.16)] relative before:inline-block before:absolute before:-translate-x-1/2 before:-translate-y-1/2 before:border-[#FFFFFF33] before:rounded-full before:border-[12px] sm:before:border-[22px] before:w-[80px] before:h-[80px] sm:before:w-[120px] sm:before:h-[120px] border-transparent border-2 overflow-hidden hover:-translate-y-2 hover:scale-105 transition-transform before:border-t-[#8A255433] will-change-transform before:border-b-[#8A255433] before:hover:rotate-[270deg] before:pointer-events-none;
  }

  /* sectionSeven */
  .sectionSeven h1 {
    @apply font-normal font-26 sm: font-32 lg:font-48 text-white text-center mb-2 sm:mb-4;
  }

  /* dashboard page link */

  .dashBoardPageLink {
    @apply hover: opacity-75 font-14 px-5 py-2 font-16 font-light rounded-[4px] rounded-tr-none rounded-br-none block mt-1;
  }

  /* my package preview item */
  .MyPackageListItemHeading {
    @apply color1 font-16 md: font-20 font-medium;
  }

  .MyPackageListItemvalue {
    @apply color3 font-16 md: font-20 font-normal;
  }

  .modal-cover {
    @apply inset-0 bg-slate-300 bg-opacity-90 fixed z-[999] p-5 h-screen;
  }

  .modal {
    @apply h-[95vh] overflow-scroll hide break-all border border-slate-400 p-5 rounded-md bg-[#F2F3F4];
  }

  /* order and Booking */

  .orderBtn {
    @apply px-3 py-1 font-16 font-light text-white rounded-[6px] w-[100px] btn-hover text-center;
  }

  .orderItems {
    @apply flex-1 bg-white p-4 rounded-[8px] shadow-md;
  }

  .orderItems h3,
  .orderItems h4 {
    @apply color3 font-14 sm: font-16 font-medium;
  }

  .order-items-list {
    @apply text-[#636363] mt-3 font-14 font-normal;
  }

  .order-items-list>li {
    @apply flex items-start gap-3;
  }

  .order-items-name {
    @apply inline-block w-[15%] min-w-[4rem] md: min-w-[8rem] xl:min-w-[11rem];
  }

  /* profile */
  .test-profile-sm {
    @apply font-16 sm: font-18 text-[#141414] mdx:text-[#DDD8D8] font-normal;
  }

  /* checkout */

  .box-right {
    @apply mb-5 text-center border-dashed border-gray-500 border bg-white rounded-md shadow;
  }

  .boxDetails h1 {
    @apply color4 font-16 font-normal;
  }

  .boxDetails h3,
  .box-payment .box-inner p {
    @apply color3 font-14 font-normal;
  }

  .boxDetails p,
  .box-payment .box-inner h5 {
    @apply color1 font-14 font-normal;
  }

  .checkout .header {
    @apply text-left font-18 font-medium;
  }

  .box-payment .box-inner {
    @apply flex justify-between border-dashed border-2 border-y gap-x-3 py-1 mt-2 border-gray-400 border-x-0;
  }

  .box-payment .box-inner-total {
    @apply flex justify-between gap-x-3 py-3 mt-2 px-5 text-white font-14 font-bold shadow-sm;
  }



  .checkout .labelInp {
    @apply h-full rounded-md border border-[#9e9b9b] shadow-md font-14 sm: font-16 color3 font-normal p-3 block cursor-pointer
  }








}

@layer utilities {

  /* html::-webkit-scrollbar, */
  .hide::-webkit-scrollbar,
  .react-select__value-container::-webkit-scrollbar {
    display: none;
  }

  /* html, */
  .hide,
  .react-select__value-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
    textrendering: "optimizeLegibility";
  }

  html {
    scroll-behavior: smooth;
  }

  .inputdesign::-webkit-outer-spin-button,
  .inputdesign::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  .inputdesign[type="number"] {
    -moz-appearance: textfield;
  }

  .bar-thin {
    scrollbar-width: thin;
  }

  .bar-thin::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
  }

  .bar-thin::-webkit-scrollbar-thumb {
    background: #b8b8b8;
    border-radius: 10px;
  }

  .bar-thin::-webkit-scrollbar-thumb:hover {
    background: #a6a6a6;
  }

  .bar-thin-select::-webkit-scrollbar {
    background: #9e1559;
  }

  .font-10 {
    font-size: 10px;
  }

  .font-12 {
    font-size: 12px;
  }

  .font-14 {
    font-size: 14px;
  }

  .font-16 {
    font-size: 16px;
  }

  .font-18 {
    font-size: 18px;
  }

  .font-20 {
    font-size: 20px;
  }

  .font-22 {
    font-size: 22px;
  }

  .font-24 {
    font-size: 24px;
  }

  .font-26 {
    font-size: 26px;
  }

  .font-28 {
    font-size: 28px;
  }

  .font-30 {
    font-size: 30px;
  }

  .font-32 {
    font-size: 32px;
  }

  .font-40 {
    font-size: 40px;
  }

  .font-48 {
    font-size: 48px;
  }

  .font-56 {
    font-size: 56px;
  }

  .font-60 {
    font-size: 60px;
  }

  .letter-space {
    letter-spacing: 1.3px;
  }

  .bgcolor1 {
    background-color: #ef0d5e;
  }

  .bgcolor2 {
    background-color: #ef0d5e;
  }

  .color1 {
    color: #3b3b3b;
  }

  .color2 {
    color: #da1674;
  }

  .color3 {
    color: #ef0d5e;
  }

  .color4 {
    color: #141414;
  }

  .color5 {
    color: #566a7f;
  }

  .transition-color {
    transition: opacity 0.3s ease;
  }

  .transition-transform2 {
    transition: transform 0.3s ease;
  }

  /* Landing */

  .blury {
    transition: transform 3s cubic-bezier(0.02, 1.23, 0.79, 1.08);
    background-image: linear-gradient(132deg,
        #ff7448 26%,
        #ff4848 51%,
        #6248ff 75%);
  }

  .main-loading {
    perspective: 200px;
  }

  .logo-loading {
    animation: rotateAnimation 2s ease infinite;
  }

  @keyframes rotateAnimation {
    0% {
      transform: rotateY(360deg);
    }

    100% {
      transform: rotateY(0rem);
    }
  }

  /* header navbar */

  .navbar ul>li>a {
    transition: 0.3s ease;
  }

  .navbar ul>li>a:hover {
    color: #da1674;
  }

  .auth-smallimg>span {
    border-radius: 999px;
  }

  .navbar-sticky {
    position: fixed;
    border-bottom: 1px solid #dfd7d7;
    background-color: #fff;
    box-shadow: 0px 0px 10px #d7d1d1;
    animation: moveDown 0.3s ease-in-out;
  }

  .logo-sticky {
    animation: rotate 0.7s ease-in-out 0.3s;
  }

  @keyframes moveDown {
    from {
      transform: translateY(-5rem);
    }

    to {
      transform: translateY(0rem);
    }
  }

  @keyframes rotate {
    0% {
      transform: rotateY(360deg);
    }

    100% {
      transform: rotateY(0rem);
    }
  }

  .fixy {
    transition: background-color 0.3s ease;
  }

  @media screen and (max-width: 639px) {
    .mobile-nav {
      background-color: #fff;
      box-shadow: 0px 0px 10px #d9d9d9;
    }
  }

  @media screen and (min-width: 640px) {
    .navunHomeshadow {
      box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1);
    }
  }

  .heroSection {
    background: url("https://res.cloudinary.com/eventizer-store/image/upload/v1661620263/Eventizer_New_Site/Frame_1_1_bfgvxu.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 2rem;
    background-color: #fff;
  }

  @media screen and (max-width: 639px) {
    .heroSection {
      background-position-y: 2rem;
    }
  }

  @media screen and (max-width: 450px) {
    .heroSection {
      background-position-x: 3rem;
    }
  }

  @media screen and (min-width: 900px) {
    .heroSection {
      background: linear-gradient(136.65deg, #ffebf2 33%, #ffffff 78.13%);
    }
  }

  /* register */

  .ORelement::before {
    position: absolute;
    content: "Or";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #ef0d5e;
    z-index: 1;
    padding: 20px;
    border-radius: 100px;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
  }

  .ORelement::after {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff5e;
    z-index: 0;
    border-radius: 100px;
    width: 65px;
    height: 65px;
  }

  /* register input */

  .inpBorderColor {
    border-color: #d6d9de;
  }

  /* loader */

  .loader {
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  /* multistep */

  #checkMe+label {
    position: absolute;
    left: 0%;
    z-index: 20;
    width: 16px;
    height: 16px;
    display: inline-block;
    top: 50%;
    transform: translate(50%, -50%);
  }

  #checkMe+label::before {
    content: "\2714";
    color: transparent;
    transition: 0.2s;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 12px;
    padding: 0px 4px;
  }

  #checkMe+label:active:before {
    transform: scale(0);
  }

  #checkMe:checked+label::before {
    background-color: transparent;
    border-color: transparent;
    color: #fff;
  }

  /* sectionTwo */

  .sectionTwo li:nth-child(2) .sectionTwo-box::before {
    top: 100%;
    left: 0;
  }

  .sectionTwo li:nth-child(3) .sectionTwo-box::before {
    left: 100%;
    top: 0;
  }

  .sectionTwo li:nth-child(4) .sectionTwo-box::before {
    top: 110%;
    left: 50%;
  }

  .sectionTwo li:nth-child(5) .sectionTwo-box::before {
    top: 0;
    left: 0;
  }

  .sectionTwo li:nth-child(6) .sectionTwo-box::before {
    left: 100%;
    top: 100%;
  }

  .sectionTwo-box:before {
    transition: transform 0.6s cubic-bezier(0.57, -0.2, 0.46, 1.35);
  }

  .arrow,
  .arrow:before,
  .arrow:after,
  .content {
    transition: all 0.3s ease-in-out;
  }

  .arrow {
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .arrow,
  .arrow:before,
  .arrow:after {
    border-radius: 8px;
  }

  .arrow:before,
  .arrow:after {
    content: " ";
    width: 10px;
    height: 2px;
    background-color: black;
    position: absolute;
  }

  .arrow:before {
    left: 50%;
    margin-left: -25px;
    transform: rotate(45deg);
  }

  .arrow:after {
    right: 9px;
    transform: rotate(-45deg);
  }

  .open .arrow:before {
    transform: rotate(-45deg);
  }

  .open .arrow:after {
    transform: rotate(45deg);
  }

  /* term of use */
  .termsOfUse h2 {
    @apply font-semibold font-18 sm: font-28 color4 mb-3 mt-10;
  }

  .termsOfUse p,
  .termsOfUse div {
    @apply color1 font-14;
  }

  .termsOfUse code {
    @apply font-semibold font-Poppins;
  }

  /* custom media query */

  @media screen and (max-width: 460px) {

    /* sectionSeven responsive */
    .sectionSeven h1 {
      font-size: calc(0.9rem + 0.9vw);
    }

    .sectionSeven .box {
      max-width: 230px;
    }
  }

  @media screen and (max-width: 300px) {
    .min-layout {
      width: 375px;
    }
  }
}